.wrapper{
    padding: 0 260px;
}


.lets{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lets__title{
    color: #011F3A;
    font-size: 32px;
    font-weight: 800;
}

.lets__btns{
    display: flex;
    gap: 20px;
}

*{
    scroll-behavior: smooth;
}

body{
    background-color: #EEEEEE;
    
}


@media screen and (max-width: 1200px){
    .wrapper{
        padding: 0 180px;
    }
}

@media screen and (max-width: 900px){
    .wrapper{
        padding: 0 60px;
    }
}

@media screen and (max-width: 600px){
    .wrapper{
        padding: 0 20px;
    }
}